* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
}

#app {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    
}